/*
html,body {overflow:auto}
.overflow-auto {overflow:auto}
.absolute-left {position:absolute; left:0}
.absolute-right {position:absolute; right:0}
*/
.white {color:white !important}
.primary {color:#ff9037}
.gray-bg {background:#f1f1f1}
.gray-bg a {color: #333}
ul {list-style:none}
.align-center{text-align:center}
.font-1-8 {font-size:1.8em}
.bold {font-weight:bold}
html.placeholder label {display:none}
.orbit-timer {display:none}
.orbit-container {margin-bottom:1.675em}
.orbit-next, .orbit-prev {opacity:0; -webkit-transition:opacity.4s ease-in; -moz-transition:opacity .4s ease-in; -o-transition:opacity .4s ease-in; transition:opacity .4s ease-in;}
.orbit-container:hover .orbit-next, .orbit-container:hover .orbit-prev {opacity:0.9}

header {color:white; margin-bottom:1em;background: #ff7c19}
header a {color:#fff; font-family:"Sommet Rounded"; text-shadow:0 1px 1px #E76700; font-size:1.5em}
header nav {height: 45px; line-height:45px}
header nav .standard{display:none}
header nav .hubly-logo {width:51px; height:51px}
.no-touch header a img {transition:transform .1s; -webkit-transition:-webkit-transform .1s; -moz-transition:-moz-transform .1s; -o-transition:-o-transform .1s}
.no-touch header a:hover,
.no-touch header a:focus {color:white; text-shadow:0 2px 2px #E76700,0 -2px 0 rgba(255, 187, 116, 0.12);}
.no-touch header a:hover img {-webkit-transform:scale(1.1); -moz-transform:scale(1.1); -o-transform:scale(1.1); -ms-transform:scale(1.1); transform:scale(1.1); }

@media only screen and (min-width: 32em) {
	header nav {height:80px; line-height:80px}
	header nav .standard {display:block}
	.mini {display:none}
	header nav a {font-size:2em;}
	header nav .hubly-logo {width:90px; height:90px}
}
